
.deptLogo1{
  width:10rem;
  height:10rem;
  margin: 2rem;
  position: relative;
  left:80px;
}
.headerTitle{
  font-family: 'Oswald', sans-serif;
  text-align: left;
  margin-top:5rem;
  font-size: 2.5rem;
}
.depName {
  background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 300px;
  padding-top: 30px;
  -webkit-animation: slide 20s linear infinite;
}
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

ul {
  list-style: none;
  background-color: rgb(0, 0, 0);
  padding: 0 10px;
  position: relative;
}

li {
  display: inline-block;
  padding: 10px 20px;
  transition: all .3s;
}

.items {
  float: right;
}

li a {
  text-decoration: none;
  color: Yellow;
  transition: all 1s ease-out;
}

li a:hover {
  text-decoration: none;
  color: white;
}


.items li:hover {
  background-color:black;
  z-index: -1;
  border: 2px solid yellow;
  border-bottom: none;
}


.indicator {
  position: absolute;
  height: 2px;
  width: 60px;
  bottom: 8px;
  background-color: white;
  transform: translateX(-1020px);
  transition: all 1s ease;
  opacity: 0;
}

ul li:nth-child(1):hover~.indicator {
  transform: translateX(20px);
  width: 43px;
  background: linear-gradient(130deg, yellow, red);
  opacity: 1;
}

ul li:nth-child(2):hover~.indicator {
  transform: translateX(108px);
  background: linear-gradient(130deg, #00e2ff, #89ff00);
  width: 70px;
  opacity: 1;
}

ul li:nth-child(3):hover~.indicator {
  transform: translateX(220px);
  width: 50px;
  opacity: 1;
  background: linear-gradient(130deg, purple, palevioletred);
}
ul li:nth-child(4):hover~.indicator {
  transform: translateX(310px);
  width: 145px;
  opacity: 1;
  background: linear-gradient(130deg, purple, palevioletred);
}
ul li:nth-child(5):hover~.indicator {
  transform: translateX(480px);
  width: 70px;
  opacity: 1;
  background: linear-gradient(130deg, purple, palevioletred);
}
ul li:nth-child(6):hover~.indicator {
  transform: translateX(590px);
  width: 75px;
  opacity: 1;
  background: linear-gradient(130deg, purple, palevioletred);
}
ul li:nth-child(7):hover~.indicator {
  transform: translateX(700px);
  width: 85px;
  opacity: 1;
  background: linear-gradient(130deg, purple, palevioletred);
}

@media (max-width:1000px) {
  .depName{
    height:400px;

  }
  .headerTitle{
    font-size: 2.5rem;
    text-align: center;
    margin:1rem;
  }
  .deptLogo1{
    left:auto;
    right:auto;
  }
}
