<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- favicon icon  -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <title>Department of Metallurgical and Material Engineering</title>
  <!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo:100)">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <!-- fontAwesome -->
  <link rel="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" href="/css/master.css">
  <script src="https://kit.fontawesome.com/b543a6db83.js"></script>
  <script src="https://use.fontawesome.com/d9bc38a878.js"></script>
  <!-- css styleshet -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header>
    <div class="depName container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-12 image">
          <img class="deptLogo1" src="images/iitrpr.png" alt="logo">
        </div>
        <div class="col-lg-8  col-md-12 col-sm-12">
          <p class=" headerTitle">Department of Metallurgical and Materials Engineering</p>
          <p class="iit-name">Indian Institute Of Technology Ropar</p>
          <p class="iit-name"> भारतीय प्रौद्योगिकी संस्थान रोपर</p>
          <p></p>
        </div>
      </div>
    </div>
  </header>

  <div class="row row1">
    <div class="col-lg-12 col1">
      <nav>
        <div class="toggle">
          <span><%=pageTitle%></span>
          <i class="fa fa-bars menu" aria-hidden="true"></i>
        </div>
        <ul class="ul1">
          <li class="brand">
            <a href="/<%=pageLoad%>"><%=pageTitle%></a>
          </li>
          <div class="items">
            <li>
              <a href="/">Home</a>
            </li>
            <li class="d" >
              <a class="down" id="d1">People </a><i class="fas d1js droIco fa-caret-down"></i>
              <div class="drop d1js1">
                <ul>
                  <li><a href="#">Faculty</a></li>
                  <li><a href="#">Students</a></li>
                  <li><a href="#">Staff</a></li>
                </ul>
              </div>
            </li>
            <li class="d">
              <a class="down" id="d2">For JEE Aspirants </a><i class="fas  d2js droIco fa-caret-down"></i>
              <div class="drop d2js2">
                <ul>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="/FAQ">FAQs</a></li>
                </ul>
              </div>
            </li>
            <li class="d">
              <a class="down" id="d3">Courses</a><i class="fas  d3js droIco fa-caret-down"></i>
              <div class="drop d3js3">
                <ul>
                  <li><a href="/bTech">Btech</a></li>
                  <li><a href="/phdCourses">PHD</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="/research">Research</a>
            </li>
            <li>
              <a href="/contactUs">Contact Us</a>
            </li>
            <!-- <div class="indicator Ashish Kaushik"></div>

            </div> -->

        </ul>
      </nav>
    </div>
