<%- include('partials/header') %>
</div>
<head>
  <link rel="stylesheet" href="css/courses.css">
</head>
  <div class="wrapper">
    <div class="wrapper1">
      <div class="wrapper2">
        <div class="table">
          <table>
            <thead>
              <tr>
                <td>Year/Semester</td>
                <td>Course Code</td>
                <td>Course Name</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1<sup>st</sup> year/ 2<sup>nd</sup> semester</td>
                <td>GE110</td>
                <td>Introduction to Metallurgical and Materials Engineering</td>
              </tr>
              <tr>
                <td>2<sup>nd</sup> year/ 1<sup>st</sup> semester</td>
                <td>MM201</td>
                <td>Metallurgical Thermodynamics and Kinetics</td>
              </tr>
              <tr>
                <td>2<sup>nd</sup> year/ 1<sup>st</sup> semester</td>
                <td>MM202</td>
                <td>Transport Phenomena</td>
              </tr>
              <tr>
                <td>2<sup>nd</sup> year/ 1<sup>st</sup> semester</td>
                <td>MM203</td>
                <td>Materials Characterization Techniques</td>
              </tr>
              <tr>
                <td>2<sup>nd</sup> year/ 1<sup>st</sup> semester</td>
                <td>MM204</td>
                <td>Materials Characterization Lab</td>
              </tr>
              <tr>
                <td>2<sup>nd</sup> year/ 1<sup>st</sup> semester</td>
                <td>MM205</td>
                <td>Physical Metallurgy Lab</td>
              </tr>
              <tr>
                <td>2<sup>nd</sup> year/ 2<sup>nd</sup> semester</td>
                <td>MM207</td>
                <td>Phase Transformations and Heat Treatment</td>
              </tr>
              <tr>
                <td>2<sup>nd</sup> year/ 2<sup>nd</sup> semester</td>
                <td>MM206</td>
                <td>Principles Of Extractive Metallurgy</td>
              </tr>
              <tr>
                <td>2<sup>nd</sup> year/ 2<sup>nd</sup> semester</td>
                <td>MM208</td>
                <td>Phase Transformations and Heat Treatment Lab</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<%- include('partials/footer') %>
