<%- include('partials/header') %>
</div>
<head>
  <link rel="stylesheet" href="css/contactUs.css">
</head>

<body>
  <div class="wrapper-container">
    <div class="wrapper">
      <h2>Contact Us</h2>
      <div class="contact">
        <p>Dr. Ravi Mohan Prasad</p>
        <p>Head of Department</p>
        <a href="mailto:hodmme@iitrpr.ac.in">hodmme@iitrpr.ac.in</a>
        <p>Room 314,Satish Dhawan Block <br> IIT Ropar Main Campus,Rupnagar,Punjab 140001 <br> Phone: <a href="tel:911881230124"> +91-1881-230124</a> </p>
      </div>
      <div class="contact">
        <p>Isha Bhandari</p>
        <p>Office Assistant</p>
        <a href=" mailto:offdmme@iitrpr.ac.in">offdmme@iitrpr.ac.in</a>
        <p>Room 009, Satish Dhawan Block<br> IIT Ropar Main Campus,Rupnagar,Punjab 140001 <br> Phone: <a href="tel:911881230201">+91-1881-230201</a> </p>
      </div>
    </div>

  </div>
<%- include('partials/footer') %>
<!-- <a href="mailto:joe@example.com?subject=feedback">email me</a> -->
