<%- include('partials/header') %>
</div>

<head>
  <link rel="stylesheet" href="css/FAQ.css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet' type='text/css'>
</head>

<body>

  <div class="wrapper">
    <div class="wrapper1" id="wrapper1">
      <p class="click-text" id="click1"><span class="arrow"></span>Q.What is Metallurgical and Materials Engineering?</p>
      <div class="text1">
        Metals & alloys, polymers, ceramics, biomaterials, composite materials, advanced materials, smart materials and nanomaterials are the various kinds of materials Metallurgical and Materials Engineers are concerned with.

        In this field, we study the inter-relationships between processing methodologies, structure (from the macroscopic level down to the atomic level), properties (electrical, mechanical, thermal, optical, magnetic, chemical) and ultimately, the
        performance of the material. Such an understanding is critical for breakthroughs in different fields like new materials for faster computers, sustainable packaging, energy harvesting, biological implants, targetted drug delivery, etc.

        The B.Tech. program in Metallurgical and Materials Engineering is aimed at understanding and developing materials and processes for the betterment of human life and equipping YOU to help make the world a better place!
      </div>
    </div>
    <div class="wrapper1" id="wrapper2">
      <p class="click-text" id="click2"><span class="arrow"></span>Q. What does a student study in Metallurgical and Materials Engineering?</p>
      <div class="text2">
        The B.Tech. program in Metallurgical and Materials Engineering provides a solid foundation in the theoretical and practical aspects of:
        Understanding old and new materials, from extraction to processing, as well as cultivating a deep understanding of the thermodynamics and kinetics of materials.
        Engineering the mechanical, optical, thermal, electrical, electronic, magnetic and chemical properties of materials; includes testing these properties.
        Characterizing materials using many state-of-the-art tools like electron microscopes and x-ray diffractometers to investigate their underlying microstructure and correlating this information with their properties and performance.
        Increasing
        the life of components by understanding and tailoring the ability of the material to resist degradation by corrosion or wear in real-world operating conditions. Computational materials, which involves a mathematical understanding of the
        physics and chemistry of materials to analyze and predict their behavior. In this way, students can utilize their passion for programming to explore new horizons in the field of materials science and enable experimentalists to do the same!
        Economics and sustainability issues, which play a critical role in governing materials selection and materials design.
      </div>

    </div>
    <div class="wrapper1" id="wrapper3">
      <p class="click-text" id="click3"><span class="arrow"></span>Q.What are the future prospects after studying Metallurgical and Materials Engineering?</p>
      <div class="text3">
        I. Industrial (Government and Private) Core prospects: *Iron, steel and metal manufacturers like Tata, SAIL, BHEL, NALCO, etc.
        *Natural resource companies like ONGC, Shell, Schlumberger, Vedanta, etc.
        *Infrastructure-building companies like Aditya Birla, Ambuja Cement, L&T etc.
        *Defense sector like DRDO, CSIR labs
        *Atomic energy sector like DAE, BARC, etc.
        *Automobile industry like TATA, Huyndai, etc

        II. M.S. and M.Tech. / Ph.D. Options: Universities and labs all over the world are looking for Metallurgical and Materials Engineers in interdisciplinary fields of research including energy, environment, aerospace, defense, space exploration,
        semiconductor devices, automobiles, magnetic materials, polymers, packaging, biomaterial research, and many more new emerging fields!
        *Natural resource companies like ONGC, Shell, Schlumberger, Vedanta, etc.
        Here are some fun facts for future researchers!
        The 2010 Nobel Prize in Physics was awarded to Andre Geim and Konstantin Novoselov for their experiments on the two-dimensional material graphene with sensational electronic, optical and spin transport properties.
        Dan Shechtman, a Professor of Materials Science, was awarded the 2011 Nobel Prize in Chemistry for the discovery of quasicrystals.
        Computational materials, which involves a mathematical understanding of the physics and chemistry of materials to analyze and predict their behavior. In this way, students can utilize their passion for programming to explore new horizons in
        the field of materials science and enable experimentalists to do the same!
        Economics and sustainability issues, which play a critical role in governing materials selection and materials design.

        II. M.S. and M.Tech. / Ph.D. Options: Intellectual property companies like i-Runway are always looking for people from different science and engineering backgrounds.
        Basically, Metallurgical and Materials Engineering gives a broad, all-round engineering education with a strong foundation in physics, chemistry and mathematics that prepares one to excel even in the most diverse fields.
      </div>
    </div>
    <div class="wrapper1" id="wrapper4">
      <p class="click-text" id="click4"><span class="arrow"></span>Q. I want to go for an IT job, MBA or Civil Services after studying Metallurgical and Materials Engineering. Can I do it?</p>
      <div class="text4">
        Yes, engineering in any discipline gives you a strong base in Mathematics. So you can easily excel in all these careers.
        What’s more, even Google CEO Mr. Sundar Pichai and Goa ex-CM Late Mr. Manohar Parrikar are Metallurgical and Materials Engineers from the IIT system!!
      </div>
    </div>
    <div class="wrapper1" id="wrapper5">
      <p class="click-text" id="click5"><span class="arrow"></span>Q. Can I pursue a Master’s or Ph.D. degree in Materials Science and Engineering / Physics / Chemistry / Mathematics / Nuclear Engineering / Environmental Engineering / Mechanical
        Engineering / Polymer
        Engineering / Ceramic Engineering or other aligned fields after my B.Tech. in Metallurgical and Materials Engineering?</p>
      <div class="text5">
        Ans. Yes, of course. There are many international courses and curricula which encourage people from Metallurgical and Materials Engineering background to apply. You will have to qualify TOEFL and/or GRE and/or IELTS for them and have a good
        CGPA in Metallurgical and Materials Engineering.
      </div>
    </div>
    <div class="wrapper1" id="wrapper6">
      <p class="click-text" id="click6"><span class="arrow"></span>Q. What are some innovations that incorporate advancements in Metallurgical and Materials Engineering?</p>
      <div class="text6">
        Materials are all around us, and advances in every other sector rely on support from and advancement in materials.
        Did you know that the material used to make your phone display needs to be simultaneously optically transparent and electrically conducting, and costs more than the phone battery, camera and memory put together? Or that diamonds turn flexible
        if made into very fine needles? Chips that find their way into every electronic device including YOUR laptop and smartphone;
        Materials for data storage and permanent magnets;
        Biomaterials for medical implants (like stents), prosthetic limbs, dental fillings - that absolutely MUST be bio-compatible;
        Phone/laptop displays; flexible/wearable electronics;
        Jet engines, airplanes for the aerospace sector and materials for space applications;
        Metro trains, ships, cars, mopeds, biclycles and the Hyper Loop in the transportation sector;
        Structural foundation and support for skyscrapers and bridges;
        Refractory materials providing insulation inside furnaces and spaceships;
        Submarines, weapons, bulletproof vests and bulletproof glasses for the defense sector and for the law enforcers;
        Advances in Energy Materials required to pave the way for a renewable future;
        Materials to build chemical and nuclear reactors;
        The best kind of tennis rackets -
        require and represent the past, present and future efforts of metallurgists and materials scientists/engineers!
        Even the bag that you use to bring home vegetables, the packaging for milk and curd, the tetrapak for fruit-based beverages, the pots you cook in, cups you drink from, the glass for the window you enjoy looking out from, awesome jewelry - are
        ALL landmarks in materials innovations!
      </div>
    </div>
    <div class="">
      <div class="">

      </div>
    </div>
  </div>
  <script>
      document.querySelector("#click1").onclick = function() {
        var className = " " + wrapper1.className + " ";
        wrapper1.className = ~className.indexOf(" active ") ?
          wrapper1.className.replace(" active ", " ") :
          wrapper1.className + " active ";
      };
      document.querySelector("#click2").onclick = function() {
        var className = " " + wrapper2.className + " ";
        wrapper2.className = ~className.indexOf(" active ") ?
          wrapper2.className.replace(" active ", " ") :
          wrapper2.className + " active ";
      };
      document.querySelector("#click3").onclick = function() {
        var className = " " + wrapper3.className + " ";
        wrapper3.className = ~className.indexOf(" active ") ?
          wrapper3.className.replace(" active ", " ") :
          wrapper3.className + " active ";
      };
      document.querySelector("#click4").onclick = function() {
        var className = " " + wrapper4.className + " ";
        wrapper4.className = ~className.indexOf(" active ") ?
          wrapper4.className.replace(" active ", " ") :
          wrapper4.className + " active ";
      };
      document.querySelector("#click5").onclick = function() {
        var className = " " + wrapper5.className + " ";
        wrapper5.className = ~className.indexOf(" active ") ?
          wrapper5.className.replace(" active ", " ") :
          wrapper5.className + " active ";
      };
      document.querySelector("#click6").onclick = function() {
        var className = " " + wrapper6.className + " ";
        wrapper6.className = ~className.indexOf(" active ") ?
          wrapper6.className.replace(" active ", " ") :
          wrapper6.className + " active ";
      };

  </script>

  <%- include('partials/footer') %>
