<%- include('partials/header') %>
</div>

<head>
  <link rel="stylesheet" href="css/courses.css">
</head>

<body>
  <div class="wrapper">
    <div class="wrapper1">
      <div class="wrapper2">
        <div class="table">
          <table>
            <thead>
              <tr>
                <td>Course Code</td>
                <td>Course Name</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>MM501</td>
                <td>Advanced Materials Characterization Techniques</td>
              </tr>
              <tr>
                <td>MM601</td>
                <td>Phase Transformations</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
