<%- include('partials/header') %>
</div>

<head>
  <link rel="stylesheet" href="css/Testimonials.css">
</head>

<body>

  <div class="wrapper-container">
    <div class="wrapper">
      <div class="tst row">
        <div class="col-lg-2">
          <img src="images/man.png" class="person" alt="gareeb">
        </div>
        <div class="container col-lg-10">
          "My experience at the institute is good. The faculty members and teaching assistants are always happy to help with our technical queries and projects. The Department of Metallurgical & Materials Engineering gives great attention to students’
          welfare and regularly organizes meetings between faculty members and students during the semester. Also, our faculty members place more emphasis on practical learning. Students from our department regularly participate in various inter- and
          intra-institute competitions. We are very happy and proud that the batch representative of the 2018 batch and representatives of various clubs such as Zenith, Dramatics, etc. are from our department!"
          <p class="name"><strong> ~ Sahrsh Anand</strong> btech Sophomore</p>
          <hr>
        </div>

      </div>
    </div>
  </div>

  <div class="">

  </div>
  <%- include('partials/footer') %>
